/* debug */
[class*="col-"] {
    background-color: rgb(0, 119, 255);
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    color: white;
    min-height: 40px;
    padding: 4px;
}

.green{
   
    background-color: rgb(69, 239, 100);
    border: 1px solid rgb(0, 119, 255);
    
}

